.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding-bottom: 0px;
  padding-top: 20px;
  padding-left:15px;
  padding-right:15px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links li a:hover {
  color: #ff9800;
}
